[Unit]
Description=Daily stale backup check
Requires=iphone-backup-stale.service

[Timer]
OnCalendar=*-*-* 09:00:00
Persistent=true

[Install]
WantedBy=timers.target
